.friendList {
padding-bottom: 30px;
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
gap: 30px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(244, 232, 211);
    border-radius: 5px;
    width: 280px;
    height: 90px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
            0px 1px 1px rgba(0, 0, 0, 0.14),
            0px 2px 1px rgba(0, 0, 0, 0.2);
    }
    
  
